{% extends "core/base.html" %}

{% load static %}
{% block titulo %} Productos2 {% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'core/css/E-commerce-Ofertas.CSS' %}">
{% endblock %}
{% block content %}



<section>

    <div class="container-title">Ofertas.</div>

</section>

    
    
    <main>

        <div class="container-img">
            
            <img src={% static 'core/img/D_NQ_NP_993788-MLA51664870258_092022-O.jpg' %} alt="Imagen producto">
        </div>
        <div class="container-info-producto">
            <div class="container-price">
                <span>  ̶$̶1̶5̶5̶,̶9̶9̶&nbsp;&nbsp;&nbsp;&nbsp; $110,99</span>
                <i class="fa-solid fa-tag"></i>
            </div>
            <div class="container-detain-productos">
                <div class="foem-grup">
                    <label for="colour">Pulgadas</label>
                    <select name="colour" id="colour">
                        <option disabled selected value=""> Smart</option>
                        <option value="Verde">32 pulgadas		</option>
                        <option value="Marron">40 pulgadas</option>
                        <option value="Roja">42 pulgadas</option>
                        <option value="Blanca">43 pulgadas</option>
                    </select>
                </div>
                <button class="btn-clean">Limpiar</button>
            </div>

            <div class="container-add-cart">

                <div class="container-quantity">

                    <input type="number" 
                    placeholder="1" 
                    value="1" 
                    min="1" 
                    class="input-quantity"
                    />

                    <div class="btn-increment-decrement">
                        <i class="fa-solid fa-chevron-up" id="increment"></i>
                        <i class="fa-solid fa-chevron-down" id="decrement"></i>
                    </div>
                </div>
                <button class="btn-add-to-cart">
                    <i class="fa-solid fa-plus"></i>
                    Añadir al carrito
                </button>
            </div>
            <div class="container-description">

                <div class="title-description">

                    <h4>Descripción</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-description ">

                    <h3>Smart Tv Philco Led 55 4k Pld55hs2250.</h3>
                    <br>

                        <p>
                            mart Tv Led 55'' Philco 4k UHD <br>
                            Modelo: PLD55HS2250<br>
                            Sistema Operativo: Vidaa<br>
                            Principales App: Netflix, Prime Video, Flow, Claro, Disney+, You Tube, Direc Tv, Pluto.<br>
                            Características:<br>
                            Tamaño de pantalla: 55''<br>
                            Tipo de pantalla: LED<br>
                            Resolución de pantalla: 3840 px - 2160 px<br>
                            Norma de video: PAL- N, PAL- M, NTSC
                    </p>
                </div>
            </div>
            <div class="container-addictional-information">
                <div class="title-additional-information">

                    <h4>Información adicional</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-addictional-information " >
                    <p> -Ofrecemos entrega inmediata en nuestro depósito en Paternal. <br>
                        -Mercado Envíos, y Mercado Envíos Flex. <br>
                        -Entrega Same Day en CABA y GBA comprando antes de las 13hs.
                    </p>
                </div>
            </div>
            <div class="container-reviews">
                <div class="title-reviews">

                    <h4>Reseñas</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-reviews hidden">
                    <p> ----------------
                    </p>
                </div>
            </div>
            <div class="container-social">
                <span>Compartir</span>
                <div class="container-buttons-social">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    
                </div>
            </div>
        </div>

    </main>

    <section class="container-related-products">
        <h2>Productos Relacionados</h2>
        <div class="card-list-products">
            <div class="card">
                <div class="card-img">
                    <img src={% static 'core/img/D_NQ_NP_794572-MLA52024171766_102022-O.jpg' %} alt="Producto-1">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Smart Tv Noblex Dk43x7100pi Led 43</h3>
                        
                        <p class="category">
                            Electronico
                        </p>
                    </div>
                    <div class="price"> ̶$̶1̶2̶0̶,̶9̶9̶ &nbsp;&nbsp; $90,99<i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src={% static 'core/img/D_NQ_NP_938757-MLA52024740559_102022-O.jpg' %} alt="Producto-2">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>
                            
                            Smart Tv Kanji KJ-6XST005 LED 4K </h3>
                        
                        <p class="category">
                            Electronico
                        </p>
                    </div>
                    <div class="price"> ̶$̶1̶7̶0̶,̶9̶9̶&nbsp;&nbsp; $130,99<i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src={% static 'core/img/D_NQ_NP_750802-MLA69301030669_052023-O.jpg' %} alt="Producto-3">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Smart TV Feelnology F4322FK5 LED</h3>
                        
                        <p class="category">
                            Electronico
                        </p>
                    </div>
                    <div class="price"> ̶$̶1̶9̶9̶,̶9̶9̶&nbsp;&nbsp; $150,99<i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src={% static 'core/img/D_NQ_NP_963235-MLA52959125593_122022-O.jpg' %} alt="Producto-4">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>
                        
                            Smart Tv Telefunken 50 4k Tk5022</h3>
                       
                        <p class="category">
                            Electronico
                        </p>
                    </div>
                    <div class="price"> ̶$̶8̶0̶,̶9̶9̶&nbsp;&nbsp;$50,99 <i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

        </div>


    </section>
{% endblock %}
