{% extends "core/base.html" %}
{% load static %}
{% block titulo %} Productos2 {% endblock %}


{% block link %}
<link rel="stylesheet" href="{% static 'core/css/E-commerce-Video-juegos.CSS' %}">
{% endblock %}
{% block content %}



<section>

    <div class="container-title">Auriculares.</div>

</section>

    
    
    <main>

        <div class="container-img">
            
            <img src={% static 'core/img/D_NQ_NP_676750-MLA29908706931_042019-O.jpg' %} alt="Imagen producto">
        </div>
        <div class="container-info-producto">
            <div class="container-price">
                <span>$185,99</span>
                <i class="fa-solid fa-tag"></i>
            </div>
            <div class="container-detain-productos">
                <div class="foem-grup">
                    <label for="colour">Color</label>
                    <select name="colour" id="colour">
                        <option disabled selected value=""> Auriculares</option>
                        <option value="Verde">Blancos</option>
                        <option value="Marron">Negros</option>
                        <option value="Roja">Azules</option>
                     
                    </select>
                </div>
                <button class="btn-clean">Limpiar</button>
            </div>

            <div class="container-add-cart">

                <div class="container-quantity">

                    <input type="number" 
                    placeholder="1" 
                    value="1" 
                    min="1" 
                    class="input-quantity"
                    />

                    <div class="btn-increment-decrement">
                        <i class="fa-solid fa-chevron-up" id="increment"></i>
                        <i class="fa-solid fa-chevron-down" id="decrement"></i>
                    </div>
                </div>
                <button class="btn-add-to-cart">
                    <i class="fa-solid fa-plus"></i>
                    Añadir al carrito
                </button>
            </div>
            <div class="container-description">

                <div class="title-description">

                    <h4>Descripción</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-description ">

                    <h3>Gaming Headset Auricular Ps4 Audio Juego Y Chat Mic Gamer.</h3>
                    <br>

                        <p>
                            • Poseen tecnología Bluetooth para escuchar música cómodamente, sin cables. <br>
                            • Sistema de Manos Libres con micrófono incorporado para llamadas.<br>
                            • Cuenta con un moderno diseño, ajustable y confortable.<br>
                            • Diseño plegable para almacenarlos y transportarlos fácilmente.<br>
                            • Total libertad de movimiento y mayor comodidad, en tu hogar y en exteriores.<br>
                            
                    </p>
                </div>
            </div>
            <div class="container-addictional-information">
                <div class="title-additional-information">

                    <h4>Información adicional</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-addictional-information " >
                    <p> -Ofrecemos entrega inmediata en nuestro depósito en Paternal. <br>
                        -Mercado Envíos, y Mercado Envíos Flex. <br>
                        -Entrega Same Day en CABA y GBA comprando antes de las 13hs.
                    </p>
                </div>
            </div>
            <div class="container-reviews">
                <div class="title-reviews">

                    <h4>Reseñas</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-reviews hidden">
                    <p> ----------------
                    </p>
                </div>
            </div>
            <div class="container-social">
                <span>Compartir</span>
                <div class="container-buttons-social">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    
                </div>
            </div>
        </div>

    </main>

    <section class="container-related-products">
        <h2>Productos Relacionados</h2>
        <div class="card-list-products">
            <div class="card">
                <div class="card-img">
                    <img src={% static 'core/img/D_NQ_NP_872242-MLA50019856607_052022-O.jpg' %} alt="Producto-1">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Auriculares Bluetooth Noga Aris Bt409</h3>
                        
                        <p class="category">
                            Video juegos
                        </p>
                    </div>
                    <div class="price">$135,99 <i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src={% static 'core/img/D_NQ_NP_725836-MLA51800130333_102022-O.jpg' %} alt="Producto-2">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>
                           
                            Auriculares Manos Libres Gadnic Inalambricos</h3>
                        
                        <p class="category">
                            Video juegos
                        </p>
                    </div>
                    <div class="price">$157,99 <i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src={% static 'core/img/D_NQ_NP_738955-MLA40252400386_122019-O.jpg' %} alt="Producto-3">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>
                            
                            Auriculares gamer Kotion Each G9000 black</h3>
                        
                        <p class="category">
                            Video juegos
                        </p>
                    </div>
                    <div class="price">$186,99 <i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src={% static 'core/img/D_NQ_NP_728202-MLA43710746188_102020-O.jpg' %} alt="Producto-4">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Auriculares Bluetooth Headset Noga Aris Ng-918bt</h3>
                       
                        <p class="category">
                            Video juegos
                        </p>
                    </div>
                    <div class="price">$213,99 <i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

        </div>


    </section>

{% endblock %}
