<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/formulariodepago.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/0cd4d38be2.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css"/>
</head>

<body>

 
 
       <!-- formulario de pago -->

       <div class="pago">

        <form action="">
    
            <div class="row">
    
                <div class="col">
    
                    <h3 class="title">Dirección de envio</h3>
    
                    <div class="Box">
                        <span>Nombre y apellido :</span>
                        <input type="text" placeholder="juan González">
                    </div>
                    <div class="Box">
                        <span>Gemail :</span>
                        <input type="email" placeholder="ejemplo@gemail.com">
                    </div>
                    <div class="Box">
                        <span>Dirección :</span>
                        <input type="text" placeholder="calle - número">
                    </div>
                    <div class="Box">
                        <span>Ciudad :</span>
                        <input type="text" placeholder="buenos aires">
                    </div>
    
                    <div class="clase2">
                        <div class="Box">
                            <span>País :</span>
                            <input type="text" placeholder="Argentina">
                        </div>
                        <div class="Box">
                            <span>Código postal :</span>
                            <input type="text" placeholder="2000">
                        </div>
                    </div>
    
                </div>
    
                <div class="col">
    
                    <h3 class="title">PAGO</h3>
    
                    <div class="Box">
                        <span>Tarjetas disponibles :</span>
                        <img src="imagenes/pngwing.com (2).png" alt="">
                    </div>
                    <div class="Box">
                        <span>Nombre de la tarjeta :</span>
                        <input type="text" placeholder=".....">
                    </div>
                    <div class="Box">
                        <span>Número de la Tarjeta :</span>
                        <input type="number" placeholder="1111-2222-3333-4444">
                    </div>
                    <div class="Box">
                        <span>Mes de vencimiento :</span>
                        <input type="text" placeholder="septiembre">
                    </div>
    
                    <div class="clase2">
                        <div class="Box">
                            <span>Año de vencimiento :</span>
                            <input type="number" placeholder="2024">
                        </div>
                        <div class="Box">
                            <span>CVV :</span>
                            <input type="text" placeholder="123">
                        </div>
                    </div>
    
                </div>
        
            </div>
    
            <input type="submit" value="Comprar" class="submit-btn">
    
        </form>
    
    </div>    


  



</body>
</html>





