{% extends "plantilla_rubro.html" %}
{% load static %}

{% block titulorubro%}Remeras para hombres.{% endblock %}

{% block main_rubro %}
<main>

    <div class="container-img">
        
        <img src={% static 'core/img/maqueta-camiseta-algodon-ultra-hombre-03_126278-145.jpg' %} alt="Imagen producto">
    </div>
    <div class="container-info-producto">
        <div class="container-price">
            <span>$25,99</span>
            <i class="fa-solid fa-tag"></i>
        </div>
        <div class="container-detain-productos">
            <div class="foem-grup">
                <label for="colour">Color</label>
                <select name="colour" id="colour">
                    <option disabled selected value=""> Remeras</option>
                    <option value="Verde">Gris</option>
                    <option value="Marron">Amarillo</option>
                    <option value="Roja">Roja</option>
                    <option value="Blanca">Blanca</option>
                </select>
            </div>
            <button class="btn-clean">Limpiar</button>
        </div>

        <div class="container-add-cart">

            <div class="container-quantity">

                <input type="number" 
                placeholder="1" 
                value="1" 
                min="1" 
                class="input-quantity"
                />

                <div class="btn-increment-decrement">
                    <i class="fa-solid fa-chevron-up" id="increment"></i>
                    <i class="fa-solid fa-chevron-down" id="decrement"></i>
                </div>
            </div>
            <button class="btn-add-to-cart">
                <i class="fa-solid fa-plus"></i>
                Añadir al carrito
            </button>
        </div>
        <div class="container-description">

            <div class="title-description">

                <h4>Descripción</h4>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="text-description ">

                <h3>Medallón De Calathea.</h3>
                <br>

                    <p>
                    Marca internacional con más de 11 locales oficiales en Argentina. 
                    Inspiramos al público de espíritu joven a través de la cultura progresiva del surf y skater. 
                    Prendas pensadas para que te sientas cómodo y con mucha onda.
                  

                </p>
            </div>
        </div>
        <div class="container-addictional-information">
            <div class="title-additional-information">

                <h4>Información adicional</h4>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="text-addictional-information " >
                <p> -Ofrecemos entrega inmediata en nuestro depósito en Paternal. <br>
                    -Mercado Envíos, y Mercado Envíos Flex. <br>
                    -Entrega Same Day en CABA y GBA comprando antes de las 13hs.
                </p>
            </div>
        </div>
        <div class="container-reviews">
            <div class="title-reviews">

                <h4>Reseñas</h4>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
            <div class="text-reviews hidden">
                <p> ----------------
                </p>
            </div>
        </div>
        <div class="container-social">
            <span>Compartir</span>
            <div class="container-buttons-social">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                
            </div>
        </div>
    </div>

</main>
{% endblock main_rubro %}

{% block section_related_rubro %}
<section class="container-related-products">
    <h2>Productos Relacionados</h2>
    <div class="card-list-products">
        <div class="card">
            <div class="card-img">
                <img src={% static 'core/img/D_NQ_NP_805978-MLA54152625572_032023-W.jpg' %} alt="Producto-1">
            </div>
            <div class="info-card">
                <div class="text-product">
                    <h3>Remera Billabong Sun Up Hombre</h3>
                    
                    <p class="category">
                        Moda
                    </p>
                </div>
                <div class="price">$27,99 <i class="fa-solid fa-tag"></i></div>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <img src={% static 'core/img/D_NQ_NP_623591-MLA52726579335_122022-O.jpg' %} alt="Producto-2">
            </div>
            <div class="info-card">
                <div class="text-product">
                    <h3>Remera New Rockaway Billabong Fluid</h3>
                    
                    <p class="category">
                        Moda
                    </p>
                </div>
                <div class="price">$17,99 <i class="fa-solid fa-tag"></i></div>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <img src={% static 'core/img/D_NQ_NP_638231-MLA54090862189_032023-O.jpg' %} alt="Producto-3">
            </div>
            <div class="info-card">
                <div class="text-product">
                    <h3>Remera Billabong Chest Pack Hombre</h3>
                    
                    <p class="category">
                        Moda
                    </p>
                </div>
                <div class="price">$27,99 <i class="fa-solid fa-tag"></i></div>
            </div>
        </div>

        <div class="card">
            <div class="card-img">
                <img src={% static 'core/img/D_NQ_NP_770135-MLA51564037330_092022-O.jpg' %} alt="Producto-4">
            </div>
            <div class="info-card">
                <div class="text-product">
                    <h3>Remera Billabong New Ringer Hombre</h3>
                   
                    <p class="category">
                        Moda
                    </p>
                </div>
                <div class="price">$33,99 <i class="fa-solid fa-tag"></i></div>
            </div>
        </div>

    </div>


</section>
{% endblock section_related_rubro %}
