
{% extends "base.html"%}

{% block titulo%} Productos2 {% endblock %}


{% block content%}



<section>

    <div class="container-title">Perfumes.</div>

</section>

    
    
    <main>

        <div class="container-img">
            
            <img src="imagenes/D_NQ_NP_748501-MLA47574177150_092021-O.jpg" alt="Imagen producto">
        </div>
        <div class="container-info-producto">
            <div class="container-price">
                <span>$55,99</span>
                <i class="fa-solid fa-tag"></i>
            </div>
            <div class="container-detain-productos">
                <div class="foem-grup">
                    <label for="colour">Olor</label>
                    <select name="colour" id="colour">
                        <option disabled selected value=""> Perfume</option>
                        <option value="Verde">Fougère</option>
                        <option value="Marron">Cítrico</option>
                        <option value="Roja">Amaderado</option>
                        
                    </select>
                </div>
                <button class="btn-clean">Limpiar</button>
            </div>

            <div class="container-add-cart">

                <div class="container-quantity">

                    <input type="number" 
                    placeholder="1" 
                    value="1" 
                    min="1" 
                    class="input-quantity"
                    />

                    <div class="btn-increment-decrement">
                        <i class="fa-solid fa-chevron-up" id="increment"></i>
                        <i class="fa-solid fa-chevron-down" id="decrement"></i>
                    </div>
                </div>
                <button class="btn-add-to-cart">
                    <i class="fa-solid fa-plus"></i>
                    Añadir al carrito
                </button>
            </div>
            <div class="container-description">

                <div class="title-description">

                    <h4>Descripción</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-description ">

                    <h3>
                       
                        Antonio Banderas King of Seduction Absolute EDT 100 ml.</h3>
                    <br>

                        <p>
                            La fragancia King of Seduction eau de toilette ofrece la frescura perfecta para épocas de calor. Al caracterizarse por sus aromas ligeros podés usar la cantidad que quieras sin miedo a excederte.
                    </p>
                </div>
            </div>
            <div class="container-addictional-information">
                <div class="title-additional-information">

                    <h4>Información adicional</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-addictional-information " >
                    <p> -Ofrecemos entrega inmediata en nuestro depósito en Paternal. <br>
                        -Mercado Envíos, y Mercado Envíos Flex. <br>
                        -Entrega Same Day en CABA y GBA comprando antes de las 13hs.
                    </p>
                </div>
            </div>
            <div class="container-reviews">
                <div class="title-reviews">

                    <h4>Reseñas</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-reviews hidden">
                    <p> ----------------
                    </p>
                </div>
            </div>
            <div class="container-social">
                <span>Compartir</span>
                <div class="container-buttons-social">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    
                </div>
            </div>
        </div>

    </main>

    <section class="container-related-products">
        <h2>Productos Relacionados</h2>
        <div class="card-list-products">
            <div class="card">
                <div class="card-img">
                    <img src="imagenes/D_NQ_NP_978081-MLA52054368743_102022-O.jpg" alt="Producto-1">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Perfume United Dreams Live Free</h3>
                        
                        <p class="category">
                            Cuidado Personal
                        </p>
                    </div>
                    <div class="price">$35,99 <i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="imagenes/D_NQ_NP_827652-MLA44749361865_012021-O.jpg" alt="Producto-2">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>
                            
                            Nautica Voyage EDT 100 ml para hombre</h3>
                        
                        <p class="category">
                            Cuidado Personal
                        </p>
                    </div>
                    <div class="price">$47,99 <i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="imagenes/D_NQ_NP_751648-MLA49184667080_022022-O.jpg" alt="Producto-3">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Mary Stuart Loción X 110ml</h3>
                        
                        <p class="category">
                            Cuidado Personal
                        </p>
                    </div>
                    <div class="price">$66,99 <i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="imagenes/D_NQ_NP_956933-MLA54339865963_032023-O.jpg" alt="Producto-4">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>
                            Perfume Adolfo Dominguez Para Hombre</h3>
                       
                        <p class="category">
                            Cuidado Personal
                        </p>
                    </div>
                    <div class="price">$83,99 <i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

        </div>


    </section>


    {% endblock%}
