{% extends "base.html"%}

{% block titulo%} Productos2 {% endblock %}


{% block content%}



<section>

    <div class="container-title">Sillones para decoración de interiores.</div>

</section>

    
    
    <main>

        <div class="container-img">
            
            <img src="imagenes/861.jpg" alt="Imagen producto">
        </div>
        <div class="container-info-producto">
            <div class="container-price">
                <span>$135,99</span>
                <i class="fa-solid fa-tag"></i>
            </div>
            <div class="container-detain-productos">
                <div class="foem-grup">
                    <label for="colour">Color</label>
                    <select name="colour" id="colour">
                        <option disabled selected value=""> Sillón</option>
                        <option value="Verde">Blanco</option>
                        <option value="Marron">beige</option>
                        <option value="Roja">gris</option>
                        <option value="Blanca">verde Manzana</option>
                    </select>
                </div>
                <button class="btn-clean">Limpiar</button>
            </div>

            <div class="container-add-cart">

                <div class="container-quantity">

                    <input type="number" 
                    placeholder="1" 
                    value="1" 
                    min="1" 
                    class="input-quantity"
                    />

                    <div class="btn-increment-decrement">
                        <i class="fa-solid fa-chevron-up" id="increment"></i>
                        <i class="fa-solid fa-chevron-down" id="decrement"></i>
                    </div>
                </div>
                <button class="btn-add-to-cart">
                    <i class="fa-solid fa-plus"></i>
                    Añadir al carrito
                </button>
            </div>
            <div class="container-description">

                <div class="title-description">

                    <h4>Descripción</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-description ">

                    <h3>Sillón y almohada.</h3>
                    <br>

                        <p>
                            Totalmente tapizado en tela niza, rustic, color a elección!
                            Estructura en madera saligna de 1 pulgada, perfectamente armada, encuadrada, encolada y clavada, fortalecida con escuadras brindando mayor durabilidad.
                            Asientos súper cómodos, rellenos con espuma soft de poliuretano de alta densidad 26 Kg y 13 cms de altura, que ofrecen máximo confort.
                            Respaldar integrado relleno de espuma soft.
                            Patas de madera atornilladas de 5 o 7 cm de altura, color a elección, negras o natural
                    </p>
                </div>
            </div>
            <div class="container-addictional-information">
                <div class="title-additional-information">

                    <h4>Información adicional</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-addictional-information " >
                    <p> -Ofrecemos entrega inmediata en nuestro depósito en Paternal. <br>
                        -Mercado Envíos, y Mercado Envíos Flex. <br>
                        -Entrega Same Day en CABA y GBA comprando antes de las 13hs.
                    </p>
                </div>
            </div>
            <div class="container-reviews">
                <div class="title-reviews">

                    <h4>Reseñas</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-reviews hidden">
                    <p> ----------------
                    </p>
                </div>
            </div>
            <div class="container-social">
                <span>Compartir</span>
                <div class="container-buttons-social">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    
                </div>
            </div>
        </div>

    </main>

    <section class="container-related-products">
        <h2>Productos Relacionados</h2>
        <div class="card-list-products">
            <div class="card">
                <div class="card-img">
                    <img src="imagenes/D_NQ_NP_861258-MLA48767066493_012022-W.jpg" alt="Producto-1">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Sillon 2 Cuerpos Sofa Living Nórdico Chenille</h3>
                        
                        <p class="category">
                            Decoracion
                        </p>
                    </div>
                    <div class="price">$149,99 <i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="imagenes/D_NQ_NP_992384-MLA40423623089_012020-W.jpg" alt="Producto-2">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Sillon Nordico 3 Cuerpos Premium 1,80 M</h3>
                        
                        <p class="category">
                            Decoracion
                        </p>
                    </div>
                    <div class="price">$247,99 <i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="imagenes/D_NQ_NP_702778-MLA45216134333_032021-O.jpg" alt="Producto-3">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Sillón 2 Cuerpos Andorra Para Living Ecocuero Petróleo Ballsellings</h3>
                        
                        <p class="category">
                            Decoracion
                        </p>
                    </div>
                    <div class="price">$326,99 <i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="imagenes/D_NQ_NP_817044-MLA40818714282_022020-O.jpg" alt="Producto-4">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Sillon Escandinavo Chenille Premium De 1,60 M </h3>
                       
                        <p class="category">
                            Decoracion
                        </p>
                    </div>
                    <div class="price">$213,99 <i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

        </div>


    </section>


    {% endblock%}
