{% extends "base.html"%}

{% block titulo%} Productos2 {% endblock %}


{% block content%}



<section>

    <div class="container-title">Plantas para decoración de interiores.</div>

</section>

    
    
    <main>

        <div class="container-img">
            
            <img src="imagenes/planta-medallon-calathea-maceta-blanca.jpg" alt="Imagen producto">
        </div>
        <div class="container-info-producto">
            <div class="container-price">
                <span>$45,99</span>
                <i class="fa-solid fa-tag"></i>
            </div>
            <div class="container-detain-productos">
                <div class="foem-grup">
                    <label for="colour">Color</label>
                    <select name="colour" id="colour">
                        <option disabled selected value=""> Maceta</option>
                        <option value="Verde">Verde</option>
                        <option value="Marron">Marron</option>
                        <option value="Roja">Roja</option>
                        <option value="Blanca">Blanca</option>
                    </select>
                </div>
                <button class="btn-clean">Limpiar</button>
            </div>

            <div class="container-add-cart">

                <div class="container-quantity">

                    <input type="number" 
                    placeholder="1" 
                    value="1" 
                    min="1" 
                    class="input-quantity"
                    />

                    <div class="btn-increment-decrement">
                        <i class="fa-solid fa-chevron-up" id="increment"></i>
                        <i class="fa-solid fa-chevron-down" id="decrement"></i>
                    </div>
                </div>
                <button class="btn-add-to-cart">
                    <i class="fa-solid fa-plus"></i>
                    Añadir al carrito
                </button>
            </div>
            <div class="container-description">

                <div class="title-description">

                    <h4>Descripción</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-description ">

                    <h3>Medallón De Calathea.</h3>
                    <br>

                        <p>
                        Es una de las plantas más utilizadas en el mundo de la decoración. 
                        Su gran tamaño nos transporta a 
                        los bosques y selvas de América, desde México hasta el norte argentino, 
                        logrando así un clima tropical 
                        y fresco en nuestros hogares.
                        En exteriores e interiores, se adapta a todo tipo de amoblado, enalteciendo 
                        cualquier ambiente de la 
                        casa, como un comedor, cocina, living, patio o balcón.
                    </p>
                </div>
            </div>
            <div class="container-addictional-information">
                <div class="title-additional-information">

                    <h4>Información adicional</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-addictional-information " >
                    <p> -Ofrecemos entrega inmediata en nuestro depósito en Paternal. <br>
                        -Mercado Envíos, y Mercado Envíos Flex. <br>
                        -Entrega Same Day en CABA y GBA comprando antes de las 13hs.
                    </p>
                </div>
            </div>
            <div class="container-reviews">
                <div class="title-reviews">

                    <h4>Reseñas</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-reviews hidden">
                    <p> ----------------
                    </p>
                </div>
            </div>
            <div class="container-social">
                <span>Compartir</span>
                <div class="container-buttons-social">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    
                </div>
            </div>
        </div>

    </main>

    <section class="container-related-products">
        <h2>Productos Relacionados</h2>
        <div class="card-list-products">
            <div class="card">
                <div class="card-img">
                    <img src="imagenes/D_NQ_NP_849499-MLA54196762246_032023-W.jpg" alt="Producto-1">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Planta De Decoración Costilla De Adan</h3>
                        
                        <p class="category">
                            Decoracion
                        </p>
                    </div>
                    <div class="price">$35,99 <i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="imagenes/D_NQ_NP_862999-MLA54197120619_032023-O.jpg" alt="Producto-2">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Planta De Decoración Palmera Areca</h3>
                        
                        <p class="category">
                            Decoracion
                        </p>
                    </div>
                    <div class="price">$57,99 <i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="imagenes/D_NQ_NP_879509-MLA54196260661_032023-O.jpg" alt="Producto-3">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Planta De Decoración Ave De Paraíso</h3>
                        
                        <p class="category">
                            Decoracion
                        </p>
                    </div>
                    <div class="price">$26,99 <i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="imagenes/D_NQ_NP_990568-MLA54198771456_032023-O.jpg" alt="Producto-4">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Planta De Decoración Palo De Agua</h3>
                       
                        <p class="category">
                            Decoracion
                        </p>
                    </div>
                    <div class="price">$13,99 <i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

        </div>


    </section>

    {% endblock%}
