<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos2</title>
    <link rel="stylesheet" href="css/E-commerce-Mascotas.CSS">
    <script src="https://kit.fontawesome.com/0cd4d38be2.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    

</head>

<body>
   
    
  <!-- formulario de contacto -->

  <div class="form_container" id="miElemento">
    <i id="miBoton" class="fa-solid fa-circle-xmark closeBtn"></i>
    <div class="form logo_form">
        <form action="#">
            <h2>Ingresar</h2>

            <div class="input_box">
                <input type="gmail" placeholder="Gamail">
                <i class="fa-regular fa-envelope"></i>
            </div>
            <div class="input_box">
                <input type="password" placeholder="Contraseña">
                <i class="fa-solid fa-lock"></i>
            </div>


            <button class="button">Entrar</button>

          
        </form>

    </div>

</div> 

<!-- formulario de contacto 2 -->

<div class="form_container" id="miElemento2">
    <i id="miElemento3" class="fa-solid fa-circle-xmark closeBtn"></i>
    <div class="form logo_form">
        <form action="#">
            <h2>Registro</h2>

            <div class="input_box">
                <input type="name" placeholder="Nombre y apellido">
                <i class="fa-solid fa-user"></i>
            </div>

            <div class="input_box">
                <input type="gmail" placeholder="Email">
                <i class="fa-regular fa-envelope"></i>
            </div>
            <div class="input_box">
                <input type="password" placeholder="Contraseña">
                <i class="fa-solid fa-lock"></i>
            </div>
            <div class="input_box">
                <input type="password" placeholder="Repita la contraseña">
                <i class="fa-solid fa-lock"></i>
            </div>


            <button class="button">Registrarse</button>

          
        </form>

    </div>

</div> 

<!-- menu hamburguesa  -->


    <div class="barra">
        <h2>Menu</h2>
        
        <ul>
            <li><a href="E-commerce-Electronico.HTML">celulares</a></li>
            <li><a href="E-commerce-Indumentaria.HTML">Ropa</a></li>
            <li><a href="E-commerce-Videojuegos.html">Entretenimiento</a></li>
            <li><a href="E-commerce-Hogar.html">Decoración</a></li>
        </ul>
       
    </div> 




<!-- menu barra -->


<nav class="navbar">
    <div class="navegacion">
        <div class="open-menu" id="open">
            <span class="open-close" id="close"><i class="fa-solid fa-bars"></i></span>
        </div>
       
        <div class="logo">
            
                <img src="imagenes/logo.png" alt="" class="logo">
           
        </div>
        <div class="buscador">
            <input type="text" placeholder="Buscar...">
            <button class="boton-buscador"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <ul class="login">
            <li>
                <a  href="https://www.google.com/maps/place/Go!+Digital+Ecommerce/@-34.5626228,-58.7582731,10.25z/data=!4m10!1m2!2m1!1secommerce+buenos+aires!3m6!1s0x95bcb59a1e2f82f9:0x88927581ed534385!8m2!3d-34.5896201!4d-58.425941!15sChZlY29tbWVyY2UgYnVlbm9zIGFpcmVzkgESZV9jb21tZXJjZV9zZXJ2aWNl4AEA!16s%2Fg%2F11ptnh89gv?entry=ttu">
                   <i class="fa-solid fa-location-dot"></i>
                   <span>Tiendas</span>
                </a>
              
            </li>
            <li><button class="boton-blanco" id="form-open">Ingresar</button></li>
            <li><button class="boton-negro" id="miBoton2">Registrarse</button></li>
            <li>
                <a href="formulariodepago.html?">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Carrito</span>
                </a>
                
            </li>
        </ul>
    </div>
</nav>
 
    
    <div id="side-menu" class="menu-slide">
        <a href="" class="btn-close" onclick="CloseSlideMenu()"></a>
        <a href="">Productos</a>
        <a href="">Productos</a>
        <a href="">Productos</a>
        <a href="">Productos</a>
    </div>

<script>

function OpenSlideMenu(){
    document.getElementById('side-menu').style.width ='250px';
    document.getElementById('main').style.marginleft ='250px';
}

function CloseSlideMenu(){
    document.getElementById('side-menu').style.width ='0';
    document.getElementById('main').style.marginleft ='0';
}

</script> 



<nav class="botones-abajo">

<div class="abajo">
    <a href="E-commerce-Ofertas.HTML"><button class="boton-negro">Ofertas</button></a>
    <a href="E-commerce-Deporte.HTML"><button class="boton-negro">Deporte</button></a>
    <a href="E-commerce-Mascotas.HTML"><button class="boton-negro">Mascotas</button></a>
    <a href="E-commerce-Juguetes.HTML"><button class="boton-negro">Juguetes</button></a>
    <a href="Computadoras.html"><button class="boton-negro">Computadoras</button></a>
</div>


</nav>

    
<section>

    <div class="container-title">Alimento De Perro.</div>

</section>

    
    
    <main>

        <div class="container-img">
            
            <img src="imagenes/D_NQ_NP_995500-MLA50207974187_062022-O.jpg" alt="Imagen producto">
        </div>
        <div class="container-info-producto">
            <div class="container-price">
                <span>$15,99</span>
                <i class="fa-solid fa-tag"></i>
            </div>
            <div class="container-detain-productos">
                <div class="foem-grup">
                    <label for="colour">Edad</label>
                    <select name="colour" id="colour">
                        <option disabled selected value=""> Perro</option>
                        <option value="Verde">Mayor</option>
                        <option value="Marron">Joven</option>
                        <option value="Roja">Cachorro</option>
                       
                    </select>
                </div>
                <button class="btn-clean">Limpiar</button>
            </div>

            <div class="container-add-cart">

                <div class="container-quantity">

                    <input type="number" 
                    placeholder="1" 
                    value="1" 
                    min="1" 
                    class="input-quantity"
                    />

                    <div class="btn-increment-decrement">
                        <i class="fa-solid fa-chevron-up" id="increment"></i>
                        <i class="fa-solid fa-chevron-down" id="decrement"></i>
                    </div>
                </div>
                <button class="btn-add-to-cart">
                    <i class="fa-solid fa-plus"></i>
                    Añadir al carrito
                </button>
            </div>
            <div class="container-description">

                <div class="title-description">

                    <h4>Descripción</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-description ">

                    <h3>Alimento Agility Active Health.</h3>
                    <br>

                        <p>
                            La selección de un alimento adecuado para tu mascota es 
                            muy importante para garantizar su crecimiento, desarrollo y salud. 
                            Con esta opción de Agility podrás cubrir las necesidades nutricionales y energéticas de tu perro. <br>
                            Tu mascota siempre saludable
                            Ellos son parte de la familia y nos regalan su compañía y su cariño. 
                            Para que se mantengan sanos y fuertes, una alimentación balanceada es esencial. 
                            Brindale a tu perro los nutrientes que necesita para que pueda correr, saltar y jugar todo el día.
                    </p>
                </div>
            </div>
            <div class="container-addictional-information">
                <div class="title-additional-information">

                    <h4>Información adicional</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-addictional-information " >
                    <p> -Ofrecemos entrega inmediata en nuestro depósito en Paternal. <br>
                        -Mercado Envíos, y Mercado Envíos Flex. <br>
                        -Entrega Same Day en CABA y GBA comprando antes de las 13hs.
                    </p>
                </div>
            </div>
            <div class="container-reviews">
                <div class="title-reviews">

                    <h4>Reseñas</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-reviews hidden">
                    <p> ----------------
                    </p>
                </div>
            </div>
            <div class="container-social">
                <span>Compartir</span>
                <div class="container-buttons-social">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    
                </div>
            </div>
        </div>

    </main>

    <section class="container-related-products">
        <h2>Productos Relacionados</h2>
        <div class="card-list-products">
            <div class="card">
                <div class="card-img">
                    <img src="imagenes/D_NQ_NP_990261-MLA49054624391_022022-O.jpg" alt="Producto-1">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>
                            Alimento Royal Canin Size Health Nutrition Maxi </h3>
                        
                        <p class="category">
                            Mascotas
                        </p>
                    </div>
                    <div class="price">$12,99 <i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="imagenes/D_NQ_NP_886319-MLA40417009886_012020-O.jpg" alt="Producto-2">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>
                            Alimento Royal Canin Size Health Nutrition Mini</h3>
                        
                        <p class="category">
                            Mascotas
                        </p>
                    </div>
                    <div class="price">$14,99 <i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="imagenes/D_NQ_NP_813302-MLA43970070424_112020-O.jpg" alt="Producto-3">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Alimento Maintenance Criadores</h3>
                        
                        <p class="category">
                            Mascotas
                        </p>
                    </div>
                    <div class="price">$18,99 <i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="imagenes/D_NQ_NP_835171-MLA53084299388_122022-O.jpg" alt="Producto-4">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Old Prince Premium Adultos</h3>
                       
                        <p class="category">
                            Mascotas
                        </p>
                    </div>
                    <div class="price">$17,99 <i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

        </div>


    </section>

    <section class="footer">
        <div class="social-bar">
            <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        </div>
        <span></span>
    </section>

    <script src="script/E-commerce-Mascotas.JS"></script>
   
</body>
</html>