{% extends "base.html"%}

{% block titulo%} Productos2 {% endblock %}


{% block content%}



<section>

    <div class="container-title">Alimento De Perro.</div>

</section>

    
    
    <main>

        <div class="container-img">
            
            <img src="imagenes/D_NQ_NP_995500-MLA50207974187_062022-O.jpg" alt="Imagen producto">
        </div>
        <div class="container-info-producto">
            <div class="container-price">
                <span>$15,99</span>
                <i class="fa-solid fa-tag"></i>
            </div>
            <div class="container-detain-productos">
                <div class="foem-grup">
                    <label for="colour">Edad</label>
                    <select name="colour" id="colour">
                        <option disabled selected value=""> Perro</option>
                        <option value="Verde">Mayor</option>
                        <option value="Marron">Joven</option>
                        <option value="Roja">Cachorro</option>
                       
                    </select>
                </div>
                <button class="btn-clean">Limpiar</button>
            </div>

            <div class="container-add-cart">

                <div class="container-quantity">

                    <input type="number" 
                    placeholder="1" 
                    value="1" 
                    min="1" 
                    class="input-quantity"
                    />

                    <div class="btn-increment-decrement">
                        <i class="fa-solid fa-chevron-up" id="increment"></i>
                        <i class="fa-solid fa-chevron-down" id="decrement"></i>
                    </div>
                </div>
                <button class="btn-add-to-cart">
                    <i class="fa-solid fa-plus"></i>
                    Añadir al carrito
                </button>
            </div>
            <div class="container-description">

                <div class="title-description">

                    <h4>Descripción</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-description ">

                    <h3>Alimento Agility Active Health.</h3>
                    <br>

                        <p>
                            La selección de un alimento adecuado para tu mascota es 
                            muy importante para garantizar su crecimiento, desarrollo y salud. 
                            Con esta opción de Agility podrás cubrir las necesidades nutricionales y energéticas de tu perro. <br>
                            Tu mascota siempre saludable
                            Ellos son parte de la familia y nos regalan su compañía y su cariño. 
                            Para que se mantengan sanos y fuertes, una alimentación balanceada es esencial. 
                            Brindale a tu perro los nutrientes que necesita para que pueda correr, saltar y jugar todo el día.
                    </p>
                </div>
            </div>
            <div class="container-addictional-information">
                <div class="title-additional-information">

                    <h4>Información adicional</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-addictional-information " >
                    <p> -Ofrecemos entrega inmediata en nuestro depósito en Paternal. <br>
                        -Mercado Envíos, y Mercado Envíos Flex. <br>
                        -Entrega Same Day en CABA y GBA comprando antes de las 13hs.
                    </p>
                </div>
            </div>
            <div class="container-reviews">
                <div class="title-reviews">

                    <h4>Reseñas</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-reviews hidden">
                    <p> ----------------
                    </p>
                </div>
            </div>
            <div class="container-social">
                <span>Compartir</span>
                <div class="container-buttons-social">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    
                </div>
            </div>
        </div>

    </main>

    <section class="container-related-products">
        <h2>Productos Relacionados</h2>
        <div class="card-list-products">
            <div class="card">
                <div class="card-img">
                    <img src="imagenes/D_NQ_NP_990261-MLA49054624391_022022-O.jpg" alt="Producto-1">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>
                            Alimento Royal Canin Size Health Nutrition Maxi </h3>
                        
                        <p class="category">
                            Mascotas
                        </p>
                    </div>
                    <div class="price">$12,99 <i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="imagenes/D_NQ_NP_886319-MLA40417009886_012020-O.jpg" alt="Producto-2">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>
                            Alimento Royal Canin Size Health Nutrition Mini</h3>
                        
                        <p class="category">
                            Mascotas
                        </p>
                    </div>
                    <div class="price">$14,99 <i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="imagenes/D_NQ_NP_813302-MLA43970070424_112020-O.jpg" alt="Producto-3">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Alimento Maintenance Criadores</h3>
                        
                        <p class="category">
                            Mascotas
                        </p>
                    </div>
                    <div class="price">$18,99 <i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="imagenes/D_NQ_NP_835171-MLA53084299388_122022-O.jpg" alt="Producto-4">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Old Prince Premium Adultos</h3>
                       
                        <p class="category">
                            Mascotas
                        </p>
                    </div>
                    <div class="price">$17,99 <i class="fa-solid fa-tag"></i></div>
                </div>
            </div>

        </div>


    </section>
    {% endblock%}
